/*Main body text*/

.about-us-meet-our-staff-body-koray-body {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 1.5%; 
}

.about-us-meet-our-staff-body-koray-title {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 2

}

.about-us-meet-our-staff-body-domedav-body {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 1.5%; 
}

.about-us-meet-our-staff-body-domedav-title {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 2

}

.about-us-meet-our-staff-body-withered-body {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 1.5%; 
}

.about-us-meet-our-staff-body-withered-title {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 2

}

.about-us-meet-our-staff-body-caleb-body {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 1.5%; 
}

.about-us-meet-our-staff-body-caleb-title {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 2

}

.about-us-meet-our-staff-body-ryan-body {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 1.5%; 
}

.about-us-meet-our-staff-body-ryan-title {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 2

}

.about-us-meet-our-staff-body-coded-body {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 1.5%; 
}

.about-us-meet-our-staff-body-coded-title {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 2.5%; 
}

.about-us-static-page-title-1 {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 50px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 5%; 
}

.about-us-static-page-title-2 {
    color: #edf0f1;
    font-family: "Ruda" , sans-serif;
    font-size: large;
    font-size: 30px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 5%; 
}

.about-us-static-page-body {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 20px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 5%; 
}

.about-us-meet-our-staff-title {
    color: #edf0f1;
    font-family: "Noto Serif SC" , sans-serif;
    font-size: large;
    font-size: 20px;
    text-align: center;
    padding: 5px 15 px;
    margin-top: 2.5%; 
}

/*Nav links*/

.nav_link_home , .nav_link_bots , .nav_link_downloads , .nav_link_live_chat , .nav_link_projects {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.nav_link_home:after , .nav_link_bots:after , .nav_link_downloads:after , .nav_link_live_chat:after , .nav_link_projects:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_link_home:hover:after , .nav_link_bots:hover:after , .nav_link_downloads:hover:after , .nav_link_live_chat:hover:after , .nav_link_projects:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li , a , button {
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #16161b;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a :hover{
    color: #0088a9;
}

button {
    padding: 10px 20px;
    background-color: rgba(0 , 136 , 169 , 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0 , 136 , 169 , 0.8);
}